ETCD_DATA_DIR="/var/lib/etcd/etcd-cluster.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_default_ipv4.address}}:2380"
ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:2379"
ETCD_NAME="infra{{ play_hosts.index(inventory_hostname) }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://127.0.0.1:2379"
ETCD_INITIAL_CLUSTER="{% for host in groups['all'] %}infra{{ loop.index - 1 }}=http://{{ host }}:2380{{ "," if not loop.last else ""}}{% endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
